---
---

<div>
  <h1>
    Overview: The goal of the app is to connect the citizens of Cheney with businesses, events, and alerts within their community via notifications and a browsable collection.
  </h1>
  <h1><br>Members: Timothy, Tanner, Daniel, Matt, Nolan</h1>
  <ul class="mt-5">
    <h1>Requirements:</h1>
    <li>
      <strong>Personalized Notifications</strong>
     - Alerts to everyone, events/businesses on preferences.
    </li>
    <li>
      <strong>Admin Tiers</strong>
      - Admins for the app itself, higher tiers for city/school officials to push alerts, middle tiers for businesses/public to submit events, and a low view only tier
    </li>
    <li>
      <strong>Specific Fillable Forms</strong> for news, events, job postings, contact us, etc.
    </li>
    <li>
      <strong>iOS & Android Compatible</strong>
    </li>
    <li>
      <strong>User Interface and Admin Interface</strong>
    </li>
    <li>
      <strong>Accurate, Reliable, Up to Date Information</strong>
    </li>
    <li>
      <strong>Tabs/ Sections</strong>
      <ul class="sublist">
        <li>News - Local news, likely no national, possibly state.</li>
        <li>Events - When, where, description, calendar view, rsvp option?</li>
        <li>Job Postings</li>
        <li>Volunteer options (in events?)</li>
        <li>Contact Us - For bugs, questions, form submission</li>
        <li>Sports & Activities - Joinable organizations</li>
        <li>Government, School, Orgs, Libraries, Neighborhood Watch</li>
        <li>Businesses - Shopping, food, entertainment, churches - menu, hours, specials/coupons, events, notification option, babysitter/freelancer services, reviews?</li>
        <li>Resources - Other side of volunteering, Cheney outreach, banks</li>
        <li>Donations for WTC?</li>
      </ul>
    </li> 
  </ul>
  <h1>Suggestions/ Requests</h1>
  <ul>
    <li>Promo Video</li>
    <li>Message Board for meetings/ other</li>
    <li>Long term support? Other students?</li>
  </ul>
</div>
