---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-5xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[red] via-[purple] to-[purple] bg-clip-text text-transparent"
      >
        Welcome to Cheney App
      </span>
    </h1>
    <p class="text-2xl pb-4">CSCD 488 Senior Project.</p>
  </div>
  <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t39.30808-6/263489937_2998050467175302_9098478304182176432_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=vXQevirShiwAX-fwxEf&_nc_ht=scontent-sea1-1.xx&oh=00_AfC8q22pLDnXBATh53mWVlTIw98ucPIN_FMn4zK7TPYi9A&oe=65BC8BDD" width ="432"/>
  <h1 class= "text-2xl">About our project:</h1>
  <p></p>
</section>
